<template>
	<div class=" dropdown-div" data-div="test" onclick={onDivClick}>

		<div class="slds-form-element">
			<label class="slds-form-element__label" for="combobox-id-48">
				{label}
			</label>
			<div class="slds-form-element__control">
				<div class="slds-combobox_container">
					<div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click " aria-expanded="true"
						aria-haspopup="dialog" role="combobox">
						<div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" 
							role="none" onclick={openMultiSelectPicklist}>
							
							<input type="text" class="slds-input slds-combobox__input" value={multiSelectedValues} disabled={isDisabled}
								id="combobox-id-48" aria-controls="popover-unique-id-03" role="textbox"
								placeholder={placeholder} readonly />
							<span
								class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
								<lightning-icon icon-name="utility:down" size="x-small">
								</lightning-icon>
							</span>
						</div>

						<template if:true={openMultiSelectPicklistDropdown}>
							<section aria-describedby="dialog-body-id-29" aria-label="Language Options"
								class="slds-popover slds-popover_full-width c-div-dropdown" id="popover-unique-id-03"
								role="dialog">
								<div class="slds-popover__body slds-popover__body_small" id="dialog-body-id-29">
									<fieldset class="slds-form-element">
										<div class="slds-form-element__control checkbox-font-size-14">
											<template for:each={_picklistOptions} for:item="item" for:index="index">
												<div class="slds-checkbox" key={item.value}>
													<lightning-input type="checkbox" checked={item.isChecked}
														label={item.label} onchange={handleItemChange}
														name={item.value}>
													</lightning-input>
												</div>
											</template>
										</div>
									</fieldset>
								</div>
							</section>
						</template>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>