<template>
<div class="" onclick={onDivClick}>
                        <c-nm-multilselect-component label="Name" placeholder="Select Value"
							onselectevent={filterEvent} filter-map={filterMap} filter-name="phcName"
							picklist-options={phcNames} div-clicked-event={divClickedEvent}>
						</c-nm-multilselect-component>
</div>
</template>